include LICENSE
include README.rst

graft docs
graft examples
graft tests

prune docs/build
prune docs/_build

# Applied in order, so these have to follow the grafts above.
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
